
header {
	background-color: #808080;	
	font-color:#fbfffc;
	font-size: 20px;
	width:1500px;
	height: 49px;
        margin: 0 auto;
        text-align:left; 	
        position: 25% absolute;
        padding: 10px 0;
        text-indent: 

   
}
body{
	background-color:#ccc;
	
	
}

.Container {
        background-color:;
	width: 1000px;
	height: 700px;	
	margin-left: 200px;
	margin-right: 300px;
	padding-top: 20px;
}
.Video{
	background: #000;
	width: 460px;
	height: 310px;
	margin-left: 20px;
	margin-right: 20px;

	float:left;

}
.heading{
	background: ;
	width: 460px;
	height: 310px;
	margin-left: 20px;
	
	float: left;

}
.H2{
	background: ;
	width: 294px;
	height: 194px;
	margin-left: 20px;
	margin-top: 20px;
	float:left;
}

.H3{
	
	background:;
	width: 294px;
	height: 194px;
	margin-left: 20px;
	margin-top: 20px;
	float:left;
	
}

.H4{
	
	background: ;
	width: 294px;
	height: 194px;
	margin-left:20px;
	margin-top: 20px;
	float:left;
        color:#222;

}
div.Content{
	background: ;
	width: 960px;
	height: 140px;
	float:left;
	margin-left: 20px;
	margin-top: 20px;

}

hr{
	border:1px solid black;
	
}
h2{
	
	margin-left:10px;
        color:blue;

}
p{
	margin-left: 10px;

}
h1{
	margin-left: 10px;
        color:blue;
}